
*.pyc

CMU/hw2/Homework_2_10601_Spring_2017.pdf

CMU/hw2/python/hw2_handin.tar

*.tar

CMU/hw4/perceptron_starter_codes/python/hw4_handin.tar

CMU/hw6/.idea/workspace.xml

CMU/hw6/.idea/modules.xml

CMU/hw6/.idea/misc.xml

CMU/hw9/.idea/workspace.xml

CMU/hw6/.idea/inspectionProfiles/profiles_settings.xml

CMU/hw6/.idea/hw6.iml

CMU/hw9/.idea/workspace.xml
